._web_marker{
  color: #fff;
  background-color: #098483;
}
._focus_web_marker{
  color: #fff;
  background-color: burlywood;
}
._temp_marker{
  color: #fff;
  background-color: darkblue;
}

.web-marker-wrapper{
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  background-color: #000;
  display: none;
  transition: all .3s;
  cursor: pointer;
}

@media (min-width:768px) {
  .web-marker-wrapper{
    width: auto;
    transform: translateX(-50%);
  }
}

.web-marker-wrapper>div{
  text-align: center;
  color: #fff;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  border-right: 1px solid #515151;
  white-space: nowrap;
}
.web-marker-wrapper>div:last-child{
  border: 0;
}

.web-marker-wrapper::after{
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  bottom: -5px;
  transform: rotate(45deg);
  transition: all .3s;
  border: 0;
  background-color: #000;
}